body{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:12px;
	direction: ltr;	
	background: #fff;
	color: #333;
}
td{padding:5px 0;}

/*STILI A CASCATA*/
.invisible{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0); opacity: 0;}
.none{display:none;}
/*Stili per diversi border radius*/
.br2{-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.br3{-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
/*Stili per diversi box shadow*/
.bs1{box-shadow:0 1px 0 rgba(0, 0, 0, .1);-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1);-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);}


.frcheckbox{
	display:inline-block;
	background-image:url(images/checkbox2.gif);
	width:13px;
	height:13px;	
}
.cchecked{background-position:0 -13px;}

.input-text{border:1px solid #CCC;height:19px;line-height:19px;background-color:#fff;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;}

.input-text:focus{
outline:none;/*rimuove i bordi di chrome e safari*/
background-color:#f8f5c6;
border:2px solid #CCC;
}
.selector_f{

	position:relative;
	background-image:url(images/B4K_BWwP7P5.png);
	background-position:right -144px;
	background-repeat:no-repeat;
	display:inline-block;
	cursor:pointer;
	border:1px solid #999;
	line-height: normal !important;
	text-align:center;
	text-decoration:none;
	white-space:nowrap;
	margin-right:0 !important;
	margin-right:3px;
	overflow:hidden;
	z-index:2;
}
.s-cnt{position:absolute;display:inline-block;top:0;left:0;}

.button{
	background:#EEE url(images/B4K_BWwP7P5.png) repeat 0 0;
	border:1px solid #999;
	cursor:pointer;
	display:inline-block;
	line-height: normal !important;
	padding:2px 6px !important;
	padding:2px 6px 0 6px;
	text-align:center;
	text-decoration:none;
	vertical-align:top;
	white-space:nowrap;
	box-shadow:0 1px 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	margin-right:0 !important;
	margin-right:3px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.buttonhover, .buttonselected, a.button:hover{
	border: 1px solid #666;
	box-shadow:0 1px 0 rgba(0, 0, 0, .3);
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3);
}

.uiButton, .uiButtonText, .uiButton input{
    background:none;
	border:0;
	cursor:pointer;
	display: inline-block;
	margin:0;
	outline:none;
	padding:1px 0 2px;
	font-weight:bold;
	white-space: nowrap;
	text-shadow: 0 1px #FFFFFF;
}







#display-loading{display:inline-block; visibility:hidden; height:22px; line-height:22px; padding-left: 25px; background:url(../images/vsli1.gif) no-repeat 0 0; color:#0033CC; }